*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  color: #070439;
}

ul li {
  list-style: none;
  font-size: 14px;
  display: flex;
  padding-left: 18px;
}

a {
  text-decoration: none;
  color: #070439;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

nav {
  align-self: center;
}

nav ul {
  display: flex;
}

.front {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.front img {
  width: 100%;
  padding: 70px 0 40px;
}

h1,
h2 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.front h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto;
}

.front h2 {
  font-weight: 400;
  font-size: 16px;
  padding: 35px 0 30px;
}

input {
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.email-front {
  border: 1px solid #070439;
  padding: 0 40px;
  color: #AFB0C2;
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.start {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3065F7;
  color: #f6f6fe;
  background: #3065F7;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin: 20px 0 70px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.productive {
  background-color: #f8f8fe;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 70px;
}

.mockup img {
  width: 100%;
}

.productive .curve-line {
  background-color: white;
}

.information {
  width: 90%;
  margin: 0 auto;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 100px 0 35px 0;
}

.information p {
  font-size: 15px;
  color: #635f7a;
}

.p-two {
  padding: 25px 0 45px 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.link a {
  color: #3da08f;
  padding: 0 5px 5px 0;
  border-bottom: 1px solid #3da08f;
}

.link img {
  width: 26px;
  padding-bottom: 5px;
  border-bottom: 1px solid #3da08f;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  width: 75%;
  margin: 45px auto 0;
  padding: 5%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #070439;
  font-size: 11px;
  box-shadow: 0px 0px 10px #BFBFBF;
}

.card p {
  line-height: 2;
}

.acc-owner {
  width: 50%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
}

.acc-owner img {
  width: 30px;
  border-radius: 100px;
  grid-row: 1/3;
}

.acc-owner h4 {
  font-size: 10px;
  font-weight: 700;
}

.acc-owner p {
  font-size: 7px;
  color: #070439;
}

.early-access {
  background: #575989;
  color: #F6F6FE;
  padding-bottom: 80px;
}

.early-access h3 {
  padding: 50px 0 25px;
}

.early-access p {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.early-access .start-email {
  display: block;
  width: 70%;
  margin: 40px auto 15px;
  padding-left: 20px;
}

.early-access .start-free {
  display: block;
  width: 70%;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3065F7;
  color: #f6f6fe;
  background: #3065F7;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  border-radius: 5px;
  height: 40px;
}

footer {
  background: #07043B;
  padding: 70px 5% 55px;
}

footer .logo-white {
  margin-bottom: 45px;
}

footer svg {
  fill: white;
}

footer p {
  color: white;
}

footer .contacts {
  display: flex;
  padding-bottom: 25px;
}

footer .contacts img {
  padding-right: 15px;
}

footer a {
  color: white;
  font-size: 16px;
}

footer li {
  padding: 25px 0 0;
}

footer .contacts-second {
  margin-top: 45px;
}

footer .socials {
  margin-top: 45px;
  height: 24px;
  display: flex;
  justify-content: center;
}

.socials svg {
  height: 100%;
  padding: 0 10px;
}

